.mantine-RichTextEditor-content {
  background: transparent;
}

.tiptap {
  background: transparent;

  // > * + * {
  //   margin-top: 0.75em;
  // }

  img {
    height: auto;
    max-width: 100%;
    align-self: center;
    // width: 100%;
    border-radius: 10px;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }

  iframe {
    border: none;
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
  }


}

.ProseMirror[contenteditable="false"] {
  padding: 0;
}

.ProseMirror[contenteditable="false"] pre {
  background: transparent;
  padding: 0;
}